# See virt-monitor(8) for details about virt-monitor.
#


[Unit]
Description=kubevmm monitor
After=syslog.target
Requires=libvirtd.service
After=libvirtd.service

[Service]
Type=forking
Restart=on-failure
Environment=KUBECONFIG=/root/.kube/config
ExecStart=/usr/bin/virt-monitor-ctl start
ExecStop=/usr/bin/virt-monitor-ctl stop
[Install]
WantedBy=multi-user.target