# See libvirt-event-handler(8) for details about libvirt-event-handler.
#


[Unit]
Description=libvirt event handler
After=syslog.target
Requires=libvirtd.service
After=libvirtd.service

[Service]
Type=forking
PIDFile=/var/run/libvirt_event_handler.pid
Restart=always
ExecStart=/usr/bin/libvirt-event-handler start
ExecStop=/usr/bin/libvirt-event-handler stop
RestartSec=3s
RemainAfterExit=no
[Install]
WantedBy=multi-user.target